{% extends 'base.html.twig' %}

{% block title %}Neu Firma{% endblock %}

{% block body %}
    <h1>Neue Firma einfügen</h1>

    {{ include('content/company/_form.html.twig') }}

    {{ include('elements/buttons/backbutton.html.twig') }}
{% endblock %}
