{% extends '/content/content.html.twig' %}

{% block title %}Hallo MainController!{% endblock %}

{% block content %}

<div class="wrapper">
    <h1>Hallo {{ app.user.firstName }}! ✅</h1>
</div>
{% endblock %}
