<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link 
                href="{{ asset("assets/main/css/style.css") }}" 
                rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script 
                src="{{ asset("assets/framework/bootstrap-5.0.2/js/bootstrap.bundle.js") }}">
            </script>
            <script type="module" 
                src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
            </script>
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            {% include "navigation/nav-top-panel.html.twig" %}
            {% include "navigation/nav-left-panel.html.twig" %}
            
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
