{% extends 'base.html.twig' %}

{% block title %}New company{% endblock %}

{% block body %}
    <h1>Create new company</h1>

    {{ include('content/company/_form.html.twig') }}

    <a href="{{ path('company') }}">back to list</a>
{% endblock %}
