{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Registration</h1>
    {{ form_start(registrationForm) }}
    {{ form_end(registrationForm) }}
{% endblock %}
